/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #666;
    /*font-size: 1em;*/
    font-size: 18px;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    text-align:left;
    padding-left:5%;
    padding-right:5%;
    background-color: #d1cfd0;
    font-family: Arial, Helvetica, sans-serif;
    color:#85222F;
}
h2 {
    padding-left: 5%;
    font-family: 'Black Ops One', cursive;
    color: #3F4557;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    color: #3F4553;
}
body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #080808;
    position: relative;
    margin: 0;
}
#portada{


    width:77%;
    display:block;
    margin:auto;
    height:auto;
}
#cabecera {
    background-color: black;
}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BFBDBE;
    position: sticky;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    top: 0;
}
#top {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

ul.topnav li {
    float: left;
    border-right: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
}
#primero {
    padding-left: 150px;
    
}

        ul.topnav li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #D80818;
            }
        ul.topnav li.right {
            float: right;
        }

#Portada {

    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-border-radius: 10px;
    padding-top:5%;
    overflow:auto;
}

.info_cartel {
    width: 74.50%;
    float: left;
    background: #BFBDBE;
    height: 400px;
    -webkit-border-radius: 0 10px 10px 0;
    box-sizing: border-box;
}
.titulo {
    top: 10%;
    left: 10%;
    margin-bottom: 0;
    padding-left: 5%;
    width: 90%;
    font-family: 'Black Ops One', cursive;
    color: #3F4553;
}
.datos {
    top: 10%;
    left: 10%;
    margin-top: 2.5%;
    margin-bottom: 0;
    padding-left: 5%;
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    color: #3F4553;
}
#imagen_cartel {
    width: 24.25%;
    height: auto;
    float: left;
    overflow: hidden;
    background-color: transparent;
    -webkit-border-radius: 10px 0 0 10px;
    border: 6px solid #535253;
}
#imagen_imdb {
    width: 10%;
    height: 10%;
    padding-left:5%;
    display: inline-block;
    left: 74px;
    top: 32px;
   
}
#imagen_youtube {
    width: 50px;
    height: 10%;
    display: inline-block;
    padding-left:2%;
    left: 74px;
    top: 32px;
}
#imagen_netflix {
    width: 40px;
    height: 35px;
    display: inline-block;
    padding-left:2%;
    left: 74px;
    top: 32px;
}
.duration {
    padding-left: 2%;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    color: #85222F
}
.datos_tec{
    margin-top:2.5%;
    font-family:Arial, Helvetica, sans-serif;
    padding-right:5%;
}
.cab_tit {
    padding-left: 5%;
    color: #3F4553;
}
.cab_val {
    padding-left: 10%;
    color: #85222F;
}
#content {
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
    
}
.section {
    background-color: #d1cfd0;
}
#information {
    background-color: #d1cfd0;
    -webkit-border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    margin-top:5%;
}
#Sinopsis {
    margin-top: 5%;
    padding-top:2.5%;

}
.section_title {
    font-family: 'Black Ops One', cursive;
    font-size: 2em;
    line-height: 1.5em;
    color: #3F4553;
    padding-left:5%;
   
}
#necesidad {
    width: 90%;
    margin-left: 5%;
    border: 6px solid #535253;
    overflow: hidden;
    background-color: transparent;
}
.referencias{
    padding-left:5%;
    padding-bottom:5%;
    color:#85222F;
}
@media screen and (max-width: 900px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    ul.topnav {
        position:relative;
    }
    #primero {
        padding-left:unset;
    }
    #top{
        position:relative;
    }
    p {
        font-size: 0.75em;
        line-height: 1.5em;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #d1cfd0;
        font-family: Arial, Helvetica, sans-serif;
        color: #85222F;
    }
    #content {
        padding-left:5%;
        padding-right:5%;
    }
    .section_title {
        font-size: 1.5em;

    }
    #imagen_cartel {
        width: 90%;
       

        border: 3px solid #535253;
    }
    .info_cartel {
        width: 100%;
        height: auto;

    }
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
